
html{
    scroll-behavior: smooth;
}
body {
    position: relative; 
    background: rgb(248,2448,248);
}
.nv{
    flex-direction: column !important;
}
.navbar{
    height: 100vh;
    display: unset !important;
    padding: 0 !important;
    box-shadow: 0px 0px 10px black;
    background: #ffd44b !important;
}
.nav-link{
    height: 100%;
    color: white !important;
}
.active{
    color: black !important;
    background: rgb(248,2448,248);
    width: 105%;
}
.content{
    height: 100vh;
}
.card-6{
    height: 43vh;
    margin: auto;
    position: relative;
}
.card-6-n,.card-6-b{
    height: 43vh;
    margin: auto;
    position: relative;  
}
.card-6 .icon,.card-6 .value{
    position: relative;
    z-index: 2;
}
.card-6::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, gray,rgb(248,2448,248),gray);
    left: 0;
    top: 0;
    z-index: 0;
    opacity: .5;
}
.card-3{
    height: 33vh;
}
.card-12{
    height: 80vh;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
.foot{
    height: 5vh;
    line-height: 5vh;
    background: #f1ca81;
    position: fixed !important;
    bottom: 0;
    right: 0;
    z-index: 9999999999;
}
.img-active,.img-none{
    width: 40%;
    margin: auto;
}
.img-active{
    display: none;
}
.icon{
    height: 30vh;
    position: relative;
}
.icon p{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.icon img{
    width: 50%;
}
.card-6-n .icon>img{
    width: 80%;
}
.card-6-b .icon>img{
    width: 80%;
    height: 100%;
}
.card-6-n .icon{
    height: 40vh;
}
.card-6-n .value>h1,.card-6-b .value>h1{
    line-height: 0.5;
}
.card-3 .icon>img{
    width: 110%;
}
.card-3>.icon p{
    top: 0;
    bottom: unset;
}
.cd3 .icon img{
    width: 60%;
    height: 60%;
}
.cb-6 .icon img{
    height: 100%;
}
.cd3-n>.icon img{
    width: 50%;
}
.car-b{
    position: relative !important;
    font-size: 1.4rem;
}
@media screen and (max-width: 600px) {
    .navbar {
      /* display: none !important; */
      height: auto;
    }
  }