.sidebar{
    min-height: 100vh;
}
.content{
    height: 100vh;
}
.nav-list{
    height: 16.66666666667vh;
    line-height: 16.66666666667vh;
    border-bottom:1px solid white;
}
.nav-list a{
    color: white;
}
.nav-list .text-item{
    color: black;
}
.card-6{
    height: 43vh;
    margin: auto;
    position: relative !important;
    left: 50%;
    transform: translateX(-50%);
}
.card-3{
    height: 33vh;
}
.card-12{
    height: 80vh;
}
.white{
    background: white !important;
}
.foot{
    height: 5vh;
    line-height: 5vh;
    background: #f1ca81;
    position: fixed !important;
    bottom: 0;
    right: 0;
    z-index: 9999999999;
}
.row>[class*=col-]{
    margin-bottom: 0 !important;
}
.m-top,.m-down{
    margin-top: 4vh !important;
}
.top-7{
    margin-top: 7vh;
}